.App {
	text-align: center;
	padding: 10px 10px 10px 0;

	.container {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		#MuiSvgIcon-root{
			position: absolute;
			right: 9%;
		}
	}
	.btn {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	button {
		font-weight: bold;
	}
}
.dark {
	background: rgb(204, 204, 204);
}
.lite {
	background: #ffffed;
}
